/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
}

img {
  max-width: 100%;
}

/* COMMON*/
/* Layout */
.container {
  width: 80%;
  max-width: 1036px;
  margin: 0 auto;
}

/* CARD ELEMENT */
.cards-list {
  list-style: none;
  margin-top: 2rem;
}

.card {
  position: relative;
  cursor: pointer;
}

.card-inner {
  display: flex;
  min-height: 270px;
}

.card-left,
.card-right {
  width: 50%;
  position: relative;
  display: flex;
}

.card-left img,
.card-right img {
  position: relative;
  height: 100%;
  width: calc(100% - 20px);
  z-index: -1;
  object-fit: cover;
}

.card-left {
  background-color: rgba(90, 170, 240, 0.6);
  justify-content: flex-end;
  border-bottom-left-radius: 20px;
}

.card-right {
  background-color: rgba(0, 180, 110, 0.6);
  justify-content: flex-start;
  border-bottom-right-radius: 20px;
}

/* Card text grid */
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 20px * 2);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.card-text::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.4) 2.5%,
    transparent 15%,
    transparent 35%,
    rgba(0, 0, 0, 0.4) 48%,
    rgba(0, 0, 0, 0.4) 52%,
    transparent 64%,
    transparent 85%,
    rgba(0, 0, 0, 0.4) 97.5%
  );
}

.card-text-top {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.game-type {
  background-color: #ff4b5a;
  color: white;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.3rem 1rem 0.6rem;
  border-radius: 0 0 5px 5px;
}

.card-text-teams {
  min-height: 110px;
  display: flex;
  align-items: center;
}

.team-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  flex-shrink: 0;
}

.team-logo img {
  height: 120px;
  width: auto;
  transition: all 0.3s ease-out;
}

.card:hover .team-logo img {
  transform: scale(1.05);
}

.team-logo-label-mobile {
  display: none;
}

.team-logo-label {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 600;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: white;
}

.team-logo-label p {
  font-size: 1.2rem;
}

.team-info {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-top: 20px;
}

.team-info.left {
  justify-content: flex-end;
}

.team-info.right {
  justify-content: flex-start;
}

.team-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.375rem;
  height: 5.625rem;
  background-color: white;
  font-size: 2.5rem;
  font-weight: 800;
}

.team-info.left .team-score {
  border-bottom-left-radius: 10px;
  margin-left: 20px;
}

.team-info.right .team-score {
  border-bottom-right-radius: 10px;
  margin-right: 20px;
}

.team-name {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  align-self: flex-end;
  padding-bottom: 10px;
  transition: all 0.3s ease-out;
}

.team-info.left .team-name {
  text-align: right;
}

.team-name .small {
  font-size: 1.2rem;
}

.team-name .large {
  font-size: 1.6rem;
}

.card:hover .team-info.left .team-name {
  transform: translateX(-0.5rem);
}

.card:hover .team-info.right .team-name {
  transform: translateX(0.5rem);
}

.card-text-stadium {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.card-text-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.card-text-footer img {
  max-height: 50px;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 62.5%;
  }

  .team-logo {
    width: 20%;
    min-width: 55px;
  }

  .team-info {
    width: 30%;
  }

  .card-text-top {
    padding-bottom: 2rem;
  }

  .team-logo {
    height: 100%;
    align-items: flex-start;
    padding-top: 3rem;
  }

  .team-logo img {
    width: 55px;
    height: 55px;
  }

  .team-score {
    width: 6rem;
    height: 7rem;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .team-info {
    height: 100%;
    justify-content: space-between;
    margin-top: 0;
  }

  .team-info.left {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .team-info.right {
    flex-direction: column;
    align-items: flex-start;
  }

  .team-name {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 0;
  }

  .team-name-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .team-info.left .team-logo-label-mobile {
    justify-content: flex-end;
  }

  .team-info.right .team-name {
    align-self: flex-start;
  }

  .team-logo-label {
    display: none;
  }

  .team-logo-label-mobile {
    display: flex;
  }

  .card-text-stadium {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  .card-text-footer img {
    max-height: 40px;
  }
}
